$bg-light: #F9FBFD;
$dark-font: #2A3247;
$dark-input: #3E3F51;
$dark-link: #4B4C55;
$blue: #3074e4;
$hr-color: #E9ECF1;
$font-helvetica: Helvetica;
$error-message-color: #FF8888;
$sectionMaxWidth: 1500px;